@import '~braft-editor/dist/index.css';
@import '~app.less';

.ant-form-item-control-input-content > .bf-container {
  border: @border-1;
  border-radius: @border-radius-sm;
}

.bf-container {
  .public-DraftEditor-content {
    padding-right: 35px;
  }
  .button-play {
    margin-top: 10%;
  }
  .bf-url {
    display: none;
  }
}
